body{
    background-image: url(../images/background.jpg);
    background-size: 100%;
    text-align: center;
    ;
}

h1 {
    font-family:'Fruktur', cursive;
    color: white;
    font-size: 50px;
}

h3 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
    font-size: 30px;
}

img {
    height: 120px;
    width: 90px;
}

p {
    font-size: 15px;
}

img {
    visibility: inherit;
}

#goku, #cell, #vegeta, #frezzer, #goku2, #cell2, #vegeta2, #frezzer2, #defender {
    background-color: silver;
    padding: 10px;
    margin: 10px;
}

.row {
    justify-content: center;
}

#enemies, #defender {
    visibility: hidden;
}