body{
    background-image : url(../images/background.jpg);
    background-size: 100%;
}

#gokuimg, #cellimg, #vegetaimg, #frezzerimg {
    height: 120px;
    width: 90px;
}

p {
    font-size: 15px;
}

img {
    visibility: inherit;
}

#goku, #cell, #vegeta, #frezzer, #goku2, #cell2, #vegeta2, #frezzer2, #goku3, #cell3, #vegeta3, #frezzer3 {
    background-color: silver;
    padding: 10px;
    margin: 10px;
}

.row {
    justify-content: center;
}

#enemies, #defender {
    visibility: hidden;
}