body{
    background-image : url(../images/background.jpg);
    background-size: 100%;
}

#gokuimg, #cellimg, #vegetaimg, #frezzerimg {
    height: 120px;
    width: 90px;
}

p {
    font-size: 15px;
}

#goku, #cell, #vegeta, #frezzer {
    background-color: silver;
    padding: 10px;
    margin: 10px;
}

.row {
    justify-content: center;
}

#enemies, #defender {
    visibility: hidden;
}